@model ResiduosCatalogoViewModel;
@{
    ViewData["Title"] = "Cargas";
}

@section Styles{
<link rel="stylesheet" type="text/css" href="~/assets/datatables/DataTables-1.11.4/css/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="~/assets/datatables/daterangepicker.css" />
}

<input id="daterange">

<div class="container">
    <div class="float-right">
        <button id="btn-see-carga" type="button" class="btn btn-primary btn-sm">
            <i class="small material-icons">remove_red_eye</i>
        </button>
        <button id="btn-edit-carga" type="button" class="btn btn-info btn-sm">
            <i class="small material-icons">edit</i>
        </button>
        <button id="btn-delete-carga" type="button" class="btn btn-danger btn-sm">
            <i class="small material-icons">delete</i>
        </button>
    </div>
    <div class="card">
        <table id="example" class="display" cellspacing="0" width="75%">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Folio Carga</th>
                    <th>Nombre Residuo</th>
                    <th>Codigo Residuo</th>
                    <th>Responsable</th>
                    <th>Peso Bruto</th>
                    <th>Fecha</th>


                </tr>
            </thead>
            <tfoot>
                <tr>

                    <th>#</th>
                    <th>Folio Carga</th>
                    <th>Nombre Residuo</th>
                    <th>Codigo Residuo</th>
                    <th>Responsable</th>
                    <th>Peso Bruto</th>
                    <th>Fecha</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal " id="modal" tabindex="-2" role="dialog" aria-labelledby="myModal" aria-hidden="true"></div>

@section Scripts{
<script type="text/javascript" src="~/assets/datatables/DataTables-1.11.4/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="~/assets/datatables/daterangepicker.min.js"></script>
<script type="text/javascript" src="~/assets/datatables/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/CargaController/CargaIndex.js"></script>
<script type="text/javascript" src="~/Scripts/Modal/Modal.js"></script>
}