@model ResiduosCatalogoViewModel;
@{
    ViewData["Title"] = "Cargas";
}

@section Styles{

<link rel="stylesheet" href="~/assets/datatables/DataTables-1.11.5/css/dataTables.bootstrap5.css" />
}


<table id="example" class="display" cellspacing="0" width="75%">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Residuo</th>
            <th>Peso</th>
          
            <th>Usuario</th>
            <th>Nombre Equipo</th>
            <th>Fecha</th>


        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Nombre Residuo</th>
            <th>Peso</th>
         
            <th>Usuario</th>
            <th>Nombre Equipo</th>
            <th>Fecha</th>


        </tr>
    </tfoot>
</table>

@section Scripts{
<script type="text/javascript" src="~/assets/datatables/DataTables-1.11.5/js/dataTables.bootstrap5.js"></script>
<script type="text/javascript" src="~/Scripts/CargaController/CargaIndex.js"></script>

}