@using CreativeReduction.Model.DTOS
@{
    Layout = "~/Views/Shared/_AccesoLogin.cshtml";
}
@model LoginerDTO

<!-- Jumbotron -->

<form asp-controller="Login" asp-action="Acceso" method="post">

    <div class="login">
        <div class="text-center">
            <img src="/assets/img/logo_embarque.png" class="img-rounded" alt="logo" height="80px" />
        </div>
        <div class="py-2"></div>
        <form method="post">
            <input type="text" name="Usuario" placeholder="Usuario" required="required" asp-for="Usuario" />
            <input type="password" name="Password" placeholder="Contraseña" required="required" asp-for="Password" />
            <button type="submit" id="btnIniciar" class="btn btn-primary btn-block btn-large">Iniciar</button>
            <h4 class="text-center text-white">@Html.ValidationMessage("Login")</h4>

        </form>
    </div>

</form>



<!-- Jumbotron -->
<!-- Section: Design Block -->
