@{
    ViewData["Title"] = "Inicio";
}

<div class="card bg-dark text-white">
    <img height="200px" class="card-img" src="~/assets/img/portm.jpg" alt="portada.png">
    <div class="card-img-overlay">
        <h5 class="card-title titulo1">GIOTEX</h5>
        <h5 class="card-title titulo2">20 ANIVERSARIO</h5>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">group</i>
                </div>
                <p class="card-category text-dark"> Usuarios </p>
                <hr />
                <h3 class="card-title">
                    registrados: 47
                    <small> </small>
                    <a class="btn btn-warning btn-sm" href="@Url.Action("CatalogoUsuarios","Usuarios")"> Ir </a>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">group</i> Agrega, edita a tus colaboradores con este modulo
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">arrow_upward</i>
                </div>
                <p class="card-category text-dark">Residuos</p>
                <hr />
                <h3 class="card-title">342.45 kg</h3>
                <a class="btn btn-success btn-sm" href="@Url.Action("Index","Residuos")" >Ir</a>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">arrow_upward</i> Crear, edita o elimina los residuos que necesites
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">all_inclusive</i>
                </div>
                <p class="card-category text-dark">Cargas</p>
                <hr />
                <h3 class="card-title">+1200</h3>
                <button class="btn btn-danger btn-sm">Ir</button>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">all_inclusive</i> Observa todas las cargas que se realizan en tiempo real
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">trending_up</i>
                </div>
                <p class="card-category text-dark">Reportes</p>
                <hr />
                <h3 class="card-title">+245</h3>
                <button class="btn btn-info btn-sm">Ir</button>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">trending_up</i> Imprime y observa el trabajo de tus colaboradores
                </div>
            </div>
        </div>
    </div>
</div>