<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@

    <!--Boostrap-->
    <link href="/assets/bootstrap/bootstrap.css" rel="stylesheet" />
    <!--Login Stiles-->
    <link href="~/assets/Logins/Loginstyle.css" rel="stylesheet" />
    <!--Sweet Alert-->


    @RenderSection("css", required: false)
</head>
<body>

    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
