@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Almacenes";
}
@section Styles{
<link rel="stylesheet" type="text/css" href="~/assets/datatables/DataTables-1.11.4/css/jquery.dataTables.css" />
}



<div class="card">
    <div class="container">
        <div class="container py-4 px-4">
            <h1 class="display-4 text-center"> Almacenes </h1>
            <button id="btn-add-almacen" type="button" class="btn btn-success btn-sm">
                <i class="small material-icons">add</i>
            </button>
            <button id="btn-see-almacen" type="button" class="btn btn-primary btn-sm">
                <i class="small material-icons">remove_red_eye</i>
            </button>
            <button id="btn-edit-almacen" type="button" class="btn btn-info btn-sm">
                <i class="small material-icons">edit</i>
            </button>
            <button id="btn-delete-almacen" type="button" class="btn btn-danger btn-sm">
                <i class="small material-icons">delete</i>
            </button>
        </div>
        <table id="tablaAlmacenes" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Modificacion</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Clave</th>
                    <th>Ubicacion</th>
                    <th>Fecha Creacion</th>
                    <th>Fecha Modificacion</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal " id="modal" tabindex="-2" role="dialog" aria-labelledby="myModal" aria-hidden="true"></div>

@section Scripts{
<script type="text/javascript" src="~/assets/datatables/DataTables-1.11.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Scripts/AlmacenesController/AlmacenesIndex.js"></script>
<script type="text/javascript" src="~/Scripts/Helpers/EnviarControlador.js"></script>
<script type="text/javascript" src="~/Scripts/Modal/Modal.js"></script>
}