@{
    ViewData["Title"] = "Usuarios";
}

<div class="container-fluid">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Agregue nuevo usuarios </h5>
                <i class="material-icons float-right">create</i>
                <br />
                <hr />
                <p class="card-text">Con este modulo podras agregar nuevos usuarios al sistema, asignarles un rol y mucho mas</p>
                <div class="card-footer">
                    <a class="btn btn-block btn-outline-primary text-center" href="@Url.Action("CatalogoUsuarios","Usuarios")">
                        Agregar
                    </a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold font-weight-bold">Modifique a los usuarios</h5>
                <i class="material-icons float-right">spellcheck</i>
                <br />
                <hr />
                <p class="card-text">Con este modulo podras modificar a los usuarios del sistema, asignarles un rol y mucho mas></p>
                <div class="card-footer">
                    <a class="btn btn-block btn-outline-info  text-center" href="@Url.Action("CatalogoUsuarios","Usuarios")">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Elimine a los usuarios</h5>
                <i class="material-icons float-right">delete_forever</i>
                <br />
                <hr />
                <p class="card-text">Con este modulo podras eliminar nuevos usuarios al sistema, asignarles un rol y mucho mas</p>
                <div class="card-footer">
                    <a class="btn btn-block btn-outline-danger text-center" href="@Url.Action("CatalogoUsuarios","Usuarios")">
                        Eliminar
                    </a>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">Vea a los usuarios</h5>
                <i class="material-icons float-right">remove_red_eye</i>
                <br />
                <hr />
                <p class="card-text">Con este modulo podras tener un panorama de los usuarios que estan registrado en el sistema</p>
                <div class="card-footer">
                    <a class="btn btn-block btn-outline-warning text-center" href="@Url.Action("CatalogoUsuarios","Usuarios")">
                        Ver
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin de los CARDS-->
    <div class="container"> <br /> </div> @*espacio*@
    @*    <div class="card">
        <div class="col-md-12">
        <br />
        <h1 class="text-center display-4">Todos los Usuarios</h1>
        <br />
        <table class="table">
        <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>

        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>

        </tr>
        <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>

        </tr>
        </tbody>
        </table>
        </div>
        </div>*@
</div>